.search__profiles_box-title {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: start !important;
    align-items: flex-start !important;
}

.search__profiles-btn {
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 3px;
}

.search__profiles-btn:hover {
    background-color: rgb(255, 199, 94) !important;
}

@media (min-width: 576px) {
    .search__box-title {
        width: 50%;
    }
}